<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msytools.testflow.backend.dao.OrganizationUserDao">

    <select id="getUserOrg" resultType="com.msytools.testflow.backend.entity.dto.OrganizationUserDTO">
        select o.id orgId,
               o.name orgName,
               ou.role_id
        from organization_user ou
            left join organization o on o.id = ou.organization_id
        where ou.user_id = #{userId}
    </select>
</mapper>